name: NPM Publish

on:
    release:
      types: [created]

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v5
    - uses: pnpm/action-setup@v4
      with:
        version: latest
    - uses: actions/setup-node@v5.0.0
      with:
        node-version: 18
        registry-url: https://registry.npmjs.org/
        scope: "@adaptivelink"
        cache: 'pnpm'
    - name: Publish
      run: npm publish --provenance --access public
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}