name: Spotter

on:
    schedule:
      - cron:  '36 18 * * 1,3,5'

jobs:
  engage:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v4
    - uses: pnpm/action-setup@v4
      with:
        version: latest
    - uses: actions/setup-node@v4.4.0
      with:
        node-version: 18
        cache: 'pnpm'
    - uses: microsoft/playwright-github-action@v1
    - name: NPM Install
      run: npm install
    - name: Engage
      run: npm run spotters
      env:
        TELEGRAM_USER: ${{ secrets.TELEGRAM_USER }}
        TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}