name: Test

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        node: [16, 17-nightly, 18, 19-nightly, 20]
    steps:
    - uses: actions/checkout@v4
    - uses: pnpm/action-setup@v2
      with:
        version: latest
    - uses: actions/setup-node@v4.0.0
      with:
        node-version: ${{ matrix.node }}
        cache: 'pnpm'
    - name: PNPM Install
      run: pnpm install --no-frozen-lockfile
    - name: Pack and Unpack
      run: pnpm pack && tar -xvzf *.tgz
    - name: Test
      run: pnpm test
    - name: Delete /package and *.tgz
      run: rm -rf package && rm -rf *.tgz
    - name: Publish Dry Run
      run: pnpm publish --dry-run --no-git-checks
